<%= render "shared/third-header" %>
 
<div class="user-reset-wrap">

    <div class='show-form-header'>
      <h1 class='show-form-header-text'>パスワード再設定</h1>
    </div>
   
       
      
  <%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
  
   <span class='error-message'>  <!-- エラーや通知を白字で表示 -->
          <%= flash[:notice] %>
          <%= flash[:alert] %>
          <%= flash[:success] %>
          <%= flash[:danger] %>
        </span>
        
    <div class="user-reset-group">
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: "パスワードを入力", class: "reset-email-form"  %>
  </div>
    <div class="user-reset-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, placeholder: "パスワードをもう一度入力", class: "reset-email-form"  %>
  </div>
  <%= form.submit "パスワードをリセットする", class:'pass-reset-btn' %>
<% end %>

</div>

<%= render "shared/second-footer" %>