<%= render "shared/second-header" %>

<%= render "shared/side_bar_hidden" %>

 <p class="blog-notice"><%= notice %></p>

<%= form_with(model: @blog, class:"blog-edit-form",local: true) do |form| %>

  <div class="blog-form-title">
    <div class="blog-form-tag">タイトル(5文字以内)</div>
    <%= form.text_field :blog_title, class: "blog-edit-text", maxlength:"5" %>
  </div>

  <div class="blog-form-text">
    <div class="blog-form-tag">内容(20文字以内)</div>
    <%= form.text_field :blog_text, class: "blog-edit-text", maxlength:"20" %>
  </div>

    <div class="blog-form-time">
      <div class="blog-form-tag">時間</div>
      <%= form.date_select :start_time, class: "blog-edit-text" %>
    </div>
    <div class="blog-form-time">
      <%= form.time_select :start_time, class: 'your-css-class' %>
    </div>

  <div class="blog-submit">
    <%= form.submit "修正する",class: "blog-submit-btn" %>
  </div>

<% end %>

<%= render "shared/second-footer" %>