<%= render "shared/second-header" %>

<div class="blog-toppage">
   <%= render "shared/side_bar_hidden" %>

 <p class="blog-notice"><%= notice %></p>

  <h1 class="blog-title">カレンダー</h1>

  <div class=" blog-wrap">
    <div class="blog-input-area">  <%# 予定入力エリア %>

      <div class="blog-schedule">今後の予定一覧</div>
      <table class="blog-table">

        <thead class="thead-light">
          <tr>
            <th>タイトル</th>
            <th>日程</th>
          </tr>
        </thead>

        <tbody>
          <% current_user.blogs.each do |blog| %>
            <tr>
              <td><%= link_to blog.blog_title, blog %></td>
              <td><%= blog.start_time.strftime("%-m/%-d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= form_with(model: @blog, local: true) do |form| %>
        <div class="blog-form-title">
          <div class="blog-form-tag">タイトル(5文字以内)</div>
          <%= form.text_area :blog_title, rows: 1, style: 'resize: none;', maxlength:"5"  %>
        </div>

        <div class="blog-form-content">
          <div class="blog-form-tag">内容(20文字以内)</div>
          <%= form.text_area :blog_text, rows: 2, style: 'resize: none;', maxlength:"20"  %>
        </div>

        <div class="blog-time">
          <div class="blog-form-tag">日時</div>
          <%= form.date_select :start_time, class: 'your-css-class' %>
        </div>
        <div class="blog-time">
          <%= form.time_select :start_time, class: 'your-css-class' %>
        </div>

<BR>
    <div class="blog-form-tag">
    <%= form.check_box :blog_sent, { checked: false }, true %> メール通知なし
  </div>

          <%= form.submit "予定を作成" ,class: "blog-submit-btn" %>
        
      <% end %>
    </div>

    <div class="blog-view-area"> <%# カレンダー表示エリア %>
      <%= month_calendar events: current_user.blogs do |date, blogs| %>
        <%= date.day %>

      <div class="blog-view-title">
        <% blogs.each do |blog| %>
          <div>
            <%= link_to blog.blog_title, blog %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/second-footer" %>