<%= render "shared/second-header" %>

   <%= render "shared/side_bar_hidden" %>
   <%= render 'layouts/error_messages', model: @blog %> <!-- エラーメッセージ  -->
   <p class="blog-notice"><%= notice %></p>

<div class="blog-show-wrap">

  <p>
  <strong>日時</strong><BR>
  <%= @blog.start_time.strftime("%-m/%-d %H:%M") %>
  </p>

  <p>
  <strong>タイトル</strong><BR>
  <%= @blog.blog_title %>
    </p>

  <p>
  <strong>内容</strong><BR>
  <%= @blog.blog_text %>
  </p>

  <%= link_to '編集', edit_blog_path(@blog) %>
  <%= link_to '消去', blog_path(@blog), method: :delete, data: { turbo_method: :delete, confirm: '本当に削除してもよろしいですか？' } %>
  <%= link_to '戻る', blogs_path %>
</div>

<%= render "shared/second-footer" %>