<%= render "shared/second-header" %>

<div class="total-wrapper">
  <div class='registration-main'>
    <div class='form-wrap'>

      <div class='form-header'>
        <h1 class='form-header-text'> <%= current_user.nickname %>さんマイページ</h1>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <% if current_user.image.attached? %>
            <%= image_tag current_user.image.variant(resize: '100x100'), class: 'user-show-image' %>
          <% else %>
            <%= image_tag 'user-icon.png', class: 'user-sample-image', alt: 'サンプル画像' %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="show-form-title">ニックネーム</label>
        </div>
        <span class="show-text"><%= current_user.nickname %></span>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="show-form-title">メールアドレス</label>
        </div>
        <span class="show-text"><%= current_user.email %></span>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="show-form-title">都道府県</label>
        </div>
        <span class="show-text"><%= Prefecture.find(current_user.prefecture_id).name %></span>
      </div>

      <div class="form-group">
        <h2 class='form-bottom-text'>下のボタンから編集できます</h2>
        <div class='edit-btn'>
          <%= link_to "編集画面へ", edit_user_path, class: "edit-btn-text" %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= button_to "登録を削除する", user_path(@user), method: :delete, class: "delete-registration-btn", onclick: "return confirm('本当に削除しますか？全ての投稿も削除されます');" %>

<%= render "shared/second-footer" %>