<div class="user-area">
  <div class="user-icon-area">
    <% if user_signed_in? %>  <!--ログインしていなければサンプル画像を表示-->
      <% if current_user.image.attached? %>  <!--アイコン画像の登録がなければサンプル画像を表示-->
        <%= image_tag current_user.image.variant(resize: '100x100'), class: 'user-image' %>
      <% else %>
        <%= image_tag("user-icon.png", class: "user-noicon-img") %>
      <% end %>
    <% else %>
      <%= image_tag("user-icon.png", class: "user-noicon-img") %>
    <% end %>
  </div>

    <div class="user-name">
      <% if user_signed_in? %>  <!--ログインしていなければ ゲストさん と表示-->
        <%= link_to current_user.nickname, user_path(current_user), class: "user-name" %>
      <% else %>
        ゲストさん
      <% end %>
    </div>
</div>

<div class="menu-title">
  menu
</div>

<div class="menu-list">

  <div class="menu-item">
     <%= link_to guide_index_path do %>
    <%=  image_tag("icon-guide.png", class: "icon-guide-img") %>
    <% end %>
  </div>

  <div class="menu-item">
    <%= link_to image_tag("icon-post.png", class: "icon-post-img"), new_post_path %>
  </div>

  <div class="menu-item">
    <%= link_to image_tag("icon-calendar.png", class: "icon-calendar-img"), blogs_path %>
  </div>

  <div class="menu-item">
    <%= link_to records_path do %>
    <%= image_tag("icon-diary.png", class: "icon-diary-img") %> <%# エラーになるので記述を変更 %>
    <% end %>
  </div>

  <div class="menu-item">
    <%= link_to flowers_path do %>
    <%= image_tag("icon-today.png", class: "icon-today-img") %>
    <% end %>
  </div>

  <div class="menu-item">
     <%= link_to weather_show_path do %>
    <%=  image_tag("icon-weather.png", class: "icon-weather-img") %>
    <% end %>
  </div>
  
  <div class="menu-item">
     <%= link_to new_public_contact_path do %>
    <%=  image_tag("icon-mail.png", class: "icon-mail-img") %>
    <% end %>
  </div>

</div>