<%= render "shared/second-header" %>

<div class="record-show-wrap">
  
  <div class='show-form-header'>
    <h1 class='show-form-header-text'>日記 詳細画面</h1>
  </div>
<div cklass =>
 <%= @record.category.category_name %>

  <div class='record-show-content'>

   

    <%= image_tag @record.record_image, class: "record-show-img" %>

  </div>

    <%= @record.record_text %>

    <%= @record.created_at.strftime("%Y/%m/%d %H:%M") %>


      
  <div class="form-group">
    <h2 class='form-bottom-text'>下のボタンから日記を編集できます</h2>
    <%= link_to "日記を編集", edit_record_path(@record), class: "post-green-btn" %>
  </div>
  
</div>

<%= render "shared/second-footer" %>