<%= render "shared/second-header" %>

<div class="guide-toppage">
    <%= render "shared/side_bar_hidden" %>

    <h1 class="guide-title">操作説明</h1>

    <div class="guide-wrap">
        <p>ご覧になりたい項目をクリックしてください</p>
        <p>[動画]をクリックすると説明の動画が表示されます</p>

        <div class="guide-item">
            <div class="guide-title" onclick="toggleContent('content1')">① ユーザー登録をしましょう</div>
            <div id="content1" class="content" style="display:none;">
                <div class="guide-pre-text">
                    <p>このアプリは会員登録のようなユーザーを登録することで全ての機能を使うことができます。</p>
                    <p>ユーザー登録しなくても、投稿を見ることができますが、メールアドレスさえあれば登録できます。</p>
                    <p>まずはユーザー登録しましょう！</p>
                </div>

                <div class="guide-text">
                    <p>1. トップページの新規登録をクリックして、必要な情報を入力して新規登録ボタンをクリックします
                        <a href="#" onclick="showVideo('gif1'); return false;">[動画]</a>
                        <div id="gif1-container" style="display:none;">
                            <img id="gif1" src="https://i.gyazo.com/efaebd58b27bfc8d85bc9d3dcabf632f.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif1');">閉じる</button>
                            </div>
                        </div>
                    </p>
                    <p class="guide-sub-text">（アイコンの画像は登録しなくても問題ありません。メールアドレスはお間違えのないようにご注意下さい。）</p>

                    <p>2. 入力したメールアドレスに認証メールが届くので、クリックするとログイン画面が表示されますが、ユーザー登録が完了しています。</p>

                    <p>3. メールアドレスとパスワードを入力すると続けてログインが可能です。
                        <a href="#" onclick="showVideo('gif2'); return false;">[動画]</a>
                        <div id="gif2-container" style="display:none;">
                            <img id="gif2" src="https://i.gyazo.com/b98cbf2d57ffae9db4a310cce69e7723.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif2');">閉じる</button>
                            </div>
                        </div>
                    </p>

                    <p>4. 登録したユーザー情報は、右側サイドバーのあなたのニックネームをクリックして編集、削除が行えます。
                        <a href="#" onclick="showVideo('gif3'); return false;">[動画]</a>
                        <div id="gif3-container" style="display:none;">
                            <img id="gif3" src="https://i.gyazo.com/07ea6bc230cdb41418f9b9182b1c1fef.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3');">閉じる</button>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <div class="guide-item">
            <div class="guide-title" onclick="toggleContent('content2')">② ログイン、ログアウト</div>
            <div id="content2" class="content" style="display:none;">
              <div class="guide-pre-text">
                    <p>ログイン機能とは、誰でも見れるページ、ユーザー登録した方だけが見れるページ、そのユーザーだけが見れるページを設定する為の機能です。</p>
                    <p>ログアウトすると、ユーザー登録していない方と同じ状態になりますが、何度でもログインできます。</p>
              </div>

                <div class="guide-text">
                    <p>1. トップページにログインの状態によって、ログインまたはログアウトが表示されています。</p>
                    <p>2. ログインしていなくても投稿の閲覧は可能ですが、ほとんどのメニューは利用できませんのでユーザー登録がまだの方は登録しましょう。</p>
                    <p>3. パスワードを忘れてしまった場合は、登録したメールアドレスにリセットするためのリンクが送信されます。
                        <a href="#" onclick="showVideo('gif2-3'); return false;">[動画]</a>
                        <div id="gif2-3-container" style="display:none;">
                            <img id="gif2-3" src="https://i.gyazo.com/4c510ecf544810de3f2496acd83e97df.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif2-3');">閉じる</button>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <div class="guide-item">
            <div class="guide-title" onclick="toggleContent('content3')">③ メニュー / できること</div>
            <div id="content3" class="content" style="display:none;">
                <div class="guide-text">
                    <p>右のサイドバーに様々な以下のコンテンツがリストとして表示されています。</p>
                    <p>（スマホやタブレットにて、右サイドバーが隠れている場合は右上のMENUボタンをクリック）</p>
                </div>

                <div class="guide-sub2">
                    【みんなの投稿 新規投稿】
                </div>
                <%= image_tag("icon-post.png", class: "guide-icon-img") %>
                <div class="guide-pre-text">
                    <p>今育てている植物の写真や、街で見かけた花、気になる写真などを投稿しましょう。</p>
                    <p>他のユーザーの投稿を見て気に入った場合は、コメントやいいねボタンを押してください。</p>
                </div>

                <div class="guide-text">
                    <p>1. クリックすると新規投稿フォームが表示されます。</p>
                    <p>2. 画像、タイトル、文章、タグを投稿することができます。</p>
                    <p>&nbsp;&nbsp;&nbsp;タグは検索するためのキーワードです。できるだけ3つ登録することで、他のユーザーに閲覧してもらいやすくなります。</p>
                    <p>&nbsp;&nbsp;&nbsp;過去に登録されたタグであれば予測変換で表示されます。新しいタグも自由に作成できます。
                    <a href="#" onclick="showVideo('gif3-1-2'); return false;">[動画]</a>
                    <div id="gif3-1-2-container" style="display:none;">
                            <img id="gif3-1-2" src="https://i.gyazo.com/a2269770b2fefcf50e71f2bf5314a666.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-1-2');">閉じる</button>
                            </div>
                        </div>
                    </p>

                    <p>3. 投稿が完了するとトップページに新しいもの順に表示されます。</p>
                </div>

                <div class="guide-text">
                    <p class="guide-text-blue">・投稿編集、コメント</p>
                    <p>1. 投稿画像をクリックすると、詳細ページが表示され、あなたの投稿であれば編集と削除ができます。
                    <a href="#" onclick="showVideo('gif3-2-1'); return false;">[動画]</a>
                    <div id="gif3-2-1-container" style="display:none;">
                            <img id="gif3-2-1" src="https://i.gyazo.com/272c13d8f0c2b3c9ed6e8fb4cbde3cbc.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-2-1');">閉じる</button>
                            </div>
                        </div>
                    </p>

                    <p>2. ログインしていれば、その投稿にコメントができます。コメントするボタンをクリックして感想や質問を書いてみましょう。
                      <a href="#" onclick="showVideo('gif3-2-2'); return false;">[動画]</a>
                    <div id="gif3-2-2-container" style="display:none;">
                            <img id="gif3-2-2" src="https://i.gyazo.com/4d8c074dac4acb9729aa3ed45d536019.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-2-2');">閉じる</button>
                            </div>
                        </div>
                    </p>

                    <p>3. 入力したコメントはいつでも編集、削除ができます。
                    <a href="#" onclick="showVideo('gif3-2-3'); return false;">[動画]</a>
                        <div id="gif3-2-3-container" style="display:none;">
                            <img id="gif3-2-3" src="https://i.gyazo.com/751ed0fd9b0eaef0d2da988c432b92d9.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-2-3');">閉じる</button>
                            </div>
                        </div>
                    </p>
                </div>
      
                <div class="guide-text">
                    <p class="guide-text-blue">・いいね機能</p>
                    <p>1. トップページや投稿詳細ページでいいねボタンをクリックすると、赤色に画像が変わりいいねカウントが増えます。
                      <a href="#" onclick="showVideo('gif3-3-1'); return false;">[動画]</a>
                        <div id="gif3-3-1-container" style="display:none;">
                            <img id="gif3-3-1" src="https://i.gyazo.com/cefd76b9ac451ec3c38c2409041d0f8c.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-3-1');">閉じる</button>
                            </div>
                        </div>
                    </p>

                    <p>2. いいねを解除するには再度いいねボタンを押すとカウントが減ります。</p>
                </div>

                <div class="guide-text">
                    <p class="guide-text-blue">・ユーザー詳細、編集、フォロー</p>
                    <p>1. サイドバーのメニューにあるのユーザー名またはアイコン画像をクリックするとユーザー詳細ページが表示されます。
                      <a href="#" onclick="showVideo('gif3-4-1'); return false;">[動画]</a>
                        <div id="gif3-4-1-container" style="display:none;">
                            <img id="gif3-4-1" src="https://i.gyazo.com/07ea6bc230cdb41418f9b9182b1c1fef.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-4-1');">閉じる</button>
                            </div>
                        </div>
                    </p>

                    <p>2. 投稿詳細ページの投稿者のニックネームや画像をクリックしてもそのユーザー詳細ページが表示されます。</p>
                    <p>3. ご自身のユーザー詳細ページであれば、登録情報を編集または削除（退会）することができます。</p>
                    <p>4. 「フォローする」をクリックすると気になるユーザーをフォロー（お気に入り）をしたり、解除ができます。
                      <a href="#" onclick="showVideo('gif3-5-3'); return false;">[動画]</a>
                        <div id="gif3-5-3-container" style="display:none;">
                            <img id="gif3-5-3" src="https://i.gyazo.com/7504b0bb37f66162f7668b5f6c2d1948.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-5-3');">閉じる</button>
                            </div>
                        </div>
                    </p>
                </div>

                <div class="guide-sub2">
                    【通知が届く マイカレンダー】
                </div>
                <%= image_tag("icon-calendar.png", class: "guide-icon-img") %>
                <div class="guide-pre-text">
                    <p>カレンダーに予定を登録しておくことで、肥料や水やり、その他必要なことをメールで通知してくれます。</p>
                    <p>メールを通知しないようにもできるので、記録としてもお使い頂けます。</p>
                </div>

                <div class="guide-text">
                    <p>1. ログイン中であればクリックするとそのユーザーだけのカレンダーが表示されます。</p>
                    <p>2. 日時、タイトル、内容を入力して予定を作成でき、設定した時刻に登録されているアドレスにメールが届きます。
                      <a href="#" onclick="showVideo('gif3-6-2'); return false;">[動画]</a>
                        <div id="gif3-6-2-container" style="display:none;">
                            <img id="gif3-6-2" src="https://i.gyazo.com/4ed1db5710582adba76bad9e77c61466.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-6-2');">閉じる</button>
                            </div>
                        </div>
                    </p>

                    <p>3. 「メール通知しない」にチェックすればメールは通知されません。</p>
                    <p>4. 作成した予定は編集ができ、メールが着信する前であれば、配信日時も再設定できます。
                      <a href="#" onclick="showVideo('gif3-6-4'); return false;">[動画]</a>
                        <div id="gif3-6-4-container" style="display:none;">
                            <img id="gif3-6-4" src="https://i.gyazo.com/afe2c41d31765700fef657b19d934d60.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-6-4');">閉じる</button>
                            </div>
                        </div>
                    </p>

                </div>

                <div class="guide-sub2">
                    【成長を記録 写真日記】
                </div>
                <%= image_tag("icon-diary.png", class: "guide-icon-img") %>
                <div class="guide-pre-text">
                    <p>あなただけしか閲覧できない、写真と簡単な説明だけを記録できる日記です。</p>
                    <p>植物の成長をアルバムのように管理することができます。</p>
                </div>

                <div class="guide-text">
                    <p>1. ログイン中であればクリックするとそのユーザーだけの日記が表示されます。</p>
                    <p>2. 日時、写真、文章、カテゴリーを入力して投稿ができ、日時は過去未来自由に編集が可能です。</p>
                    <p>3. カテゴリーは植物の名前で登録すると、その植物だけで表示することができるなど、管理がしやすくなります。
                      <a href="#" onclick="showVideo('gif3-7-3'); return false;">[動画]</a>
                        <div id="gif3-7-3-container" style="display:none;">
                            <img id="gif3-7-3" src="https://i.gyazo.com/1886354b6648fa3e8d2d283dc7363090.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-7-3');">閉じる</button>
                            </div>
                        </div>
                    </p>

                    <p>4. カテゴリーはすでにあるものから選択したり、新たに作成でき、日記が新しいもの順に表示されます。</p>
                </div>

                <div class="guide-sub2">
                    【今日は何の花の日？】
                </div>
                <%= image_tag("icon-today.png", class: "guide-icon-img") %>
                <div class="guide-pre-text">
                    <p>今日が何の花（誕生花）なのか知ることができます。</p>
                    <p>その花についてより詳しく調べることも可能です。</p>
                </div>
                <div class="guide-text">
                    <p>1. クリックすると今日の誕生花が表示されます。</p>
                    <p>2. 「詳しく調べる」リンクをクリックするとgoogle検索ページが表示されてより詳しい情報を知ることができます。
                      <a href="#" onclick="showVideo('gif3-8-2'); return false;">[動画]</a>
                        <div id="gif3-8-2-container" style="display:none;">
                            <img id="gif3-8-2" src="https://i.gyazo.com/92e36a97107d480cf7f4eecb41dfc653.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-8-2');">閉じる</button>
                            </div>
                        </div>
                    </p>

                    <p>3. 閲覧日以外にも、翌日や７日前までの花もリストから選んで調べることができます。</p>
                </div>

                <div class="guide-sub2">
                    【園芸日和 今日の天気】
                </div>
                <%= image_tag("icon-weather.png", class: "guide-icon-img") %>
                <div class="guide-pre-text">
                    <p>あなたの登録された都道府県から、現在の天気を知ることができます。</p>
                </div>
                <div class="guide-text">
                    <p>1. ログイン中であれば、クリックするとあなたの都道府県の天気が表示されます。
                      <a href="#" onclick="showVideo('gif3-9-1'); return false;">[動画]</a>
                        <div id="gif3-9-1-container" style="display:none;">
                            <img id="gif3-9-1" src="https://i.gyazo.com/03082dd33801fda3216d40097493fa48.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif3-9-1');">閉じる</button>
                            </div>
                        </div>
                    </p>
                </div>

                <div class="guide-sub2">
                    【管理者へ お問い合わせ】
                </div>
                <%= image_tag("icon-mail.png", class: "guide-icon-img") %>
                <div class="guide-pre-text">
                    <p>アプリに関する質問や、不具合のご報告などございましたら、アプリの管理者へご連絡下さい。</p>
                </div>

                <div class="guide-text">
                    <p>1. クリックすると管理者へメールを送るフォームが表示されます。</p>
                    <p>2. 送信後、遅くても3日以内にはフォームに入力されたメールアドレス宛に管理人より返信致します。</p>
                </div>
            </div>
        </div>

        <div class="guide-item">
            <div class="guide-title" onclick="toggleContent('content4')">④ いろんな検索できます</div>
            <div id="content4" class="content" style="display:none;">
                <div class="guide-pre-text">
                    <p>沢山の投稿の中から、投稿者、投稿タイトル、投稿文、タグといったキーワードで検索して絞り込むことができます。</p>
                </div>

                <div class="guide-text">
                    <p>1. 花の名前、色、気になるユーザーのニックネームなどを入力して、虫眼鏡のボタンをクリックします。
                      <a href="#" onclick="showVideo('gif4-1'); return false;">[動画]</a>
                        <div id="gif4-1-container" style="display:none;">
                            <img id="gif4-1" src="https://i.gyazo.com/defa63dd085409b2926cedd16812a7cd.gif" alt="動画表示できません" width=60%/>
                            <div class="close-button-container">
                                <button class="close-button" onclick="hideVideo('gif4-1');">閉じる</button>
                            </div>
                        </div>
                    </p>
                    <p>2. 検索結果は一覧で表示されます。画像をクリックすると投稿の詳細ページが表示されます。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "shared/second-footer" %>

<script>
function toggleContent(contentId) {
    var content = document.getElementById(contentId);
    if (content.style.display === "none") {
        content.style.display = "block";
    } else {
        content.style.display = "none";
    }
}

function showVideo(gifId) {
    document.getElementById(gifId + '-container').style.display = 'block';
}

function hideVideo(gifId) {
    document.getElementById(gifId + '-container').style.display = 'none';
}
</script>