<div class="main-title">
  みんなの投稿
</div>

<div class="post-area">
  <% @posts.each do |post| %>
  <div class='post-contents'>
    <%= link_to post_path(post) do %>
      <%= image_tag post.image, class: "post-img" %>
    <% end %>
         
    <div class='post-title'>
      <%= post.post_title %>
    </div>

    <div class='post-text'>
      <%= post.post_text %>
    </div>

   <div class= "post-info">
     <span class='post-poster'>
       <%= post.user.nickname %><span class="post-san">  さん</span>
     </span>
     <span class='post-date'>
       <%= post.created_at.strftime("%Y.%m.%d %H:%M") %>
      </span>
    </div>
  </div>
  <% end %>

</div>

