<div class="main-index-wrap">
  <div class= "top-flash-message">
    <span>  <!-- エラーや通知を表示 -->
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= flash[:success] %>
      <%= flash[:danger] %>
    </span>
  </div>
  <div class="main-title">
    みんなの投稿
  </div>

  <div class="post-area">
    <% @posts.each do |post| %>
    <div class='post-contents'>
      <%= link_to post_path(post) do %>
        <%= image_tag post.image, class: "post-img" %>
      <% end %>
         
      <div class='post-title'>
        <%= post.post_title %>
      </div>

      <div class='post-text'>
       <%= simple_format(post.post_text) %>
      </div>

      <div class="post-poster-wrap">

        <div class='post-poster-image'>
          <% if post.user && post.user.image.attached? %>
            <%= image_tag post.user.image, class: "post-icon-image" %>
          <% else %>
            <%= image_tag("user-icon.png", class: "post-noicon-image") %>
          <% end %>
        </div>

        <div cklass="post-poster-user">
          <%= post.user.nickname %>
          <span class="post-san">さん</span>

          <div class='post-date'>
            <%= post.updated_at.strftime("%Y/%m/%d") %>
          </div>

        </div>

          <div class="comment-count-icon">
             <div class="comment-count-sum">
               <%= @comment_count[post.id] %>
             </div>
             <%= image_tag("comment.png") %>
          </div>

        <div class="iine-area">
          <% if user_signed_in? %>
          <div id="like-btn<%= post.id %>">
            <div class="iine-icon-image">
              <% if user_signed_in? && post.liked_by?(current_user) %>
              <%= link_to image_tag("iine-do.png", class:"iine-img"), post_likes_path(post.id), data: { turbo_method: :delete }, class: "post_likes", remote: true %>
              <% else %>
              <%= link_to image_tag("iine.png", class:"iine-img"), post_likes_path(post.id), data: { turbo_method: :post }, class: "post_likes", remote: true %>
              <% end %>
            </div>
          </div>
          
          <div class="like-count">
            <%= post.likes_count.positive? ? post.likes_count : 0 %>
          </div>
          <% else %>
          <div class="iine-icon-image">
            <%= image_tag("iine.png", class:"iine-img")%>
          </div>
          <div class="like-count">
            <%= post.likes_count.positive? ? post.likes_count : 0 %>
          </div>
          <% end %>
        </div>

      </div>
    
    </div>
    <% end %>

  </div>

</div>