<div class="user-area">
  <div class="user-icon-area">
    <% if user_signed_in? %>
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image.variant(resize: '100x100'), class: 'user-image' %>
      <% else %>
        <%= image_tag("user-icon.png", class: "user-icon-img") %>
      <% end %>
    <% else %>
      <%= image_tag("user-icon.png", class: "user-icon-img") %>
    <% end %>
  </div>

    <div class="user-name">
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, "#", class: "user-nickname" %>
      <% else %>
        ゲスト
      <% end %>
      
    </div>
  
</div>

<div class="menu-title">menu</div>

<div class="menu-list">
  <div class="menu-item">
    <%= link_to image_tag("icon-post.png", class: "icon-post-img"), "/" %>
  </div>
  <div class="menu-item">
    <%= link_to image_tag("icon-calendar.png", class: "icon-calendar-img"), "/" %>
  </div>
  <div class="menu-item">
    <%= link_to image_tag("icon-diary.png", class: "icon-diary-img"), "/" %>
  </div>
  <div class="menu-item">
    <%= link_to image_tag("icon-today.png", class: "icon-today-img"), "/" %>
  </div>
  <div class="menu-item">
    <%= link_to image_tag("icon-weather.png", class: "icon-weather-img"), "/" %>
  </div>
  <div class="menu-item">
    <%= link_to image_tag("icon-camera.png", class: "icon-camera-img"), "/" %>
  </div>
</div>