<div class="user-area">
  <div class="user-icon-area">
    <%= link_to image_tag("user-icon.png", class: "user-icon-img"), "/" %>
  </div>
  <div class="user-wrapper">
    <div class="user-name">はなこ さん</div>
    <%= link_to 'マイページ', "#", class: "user-mypage-link" %>
  </div>
</div>

<div class="menu-title">menu</div>

<div class="menu-list">
  <div class="menu-item">
    <%= link_to image_tag("icon-post.png", class: "icon-post-img"), "/" %>
  </div>
  <div class="menu-item">
    <%= link_to image_tag("icon-calendar.png", class: "icon-calendar-img"), "/" %>
  </div>
  <div class="menu-item">
    <%= link_to image_tag("icon-diary.png", class: "icon-diary-img"), "/" %>
  </div>
  <div class="menu-item">
    <%= link_to image_tag("icon-today.png", class: "icon-today-img"), "/" %>
  </div>
  <div class="menu-item">
    <%= link_to image_tag("icon-weather.png", class: "icon-weather-img"), "/" %>
  </div>
  <div class="menu-item">
    <%= link_to image_tag("icon-camera.png", class: "icon-camera-img"), "/" %>
  </div>
</div>