
<div class= "index-bg">

   <%= render "shared/header" %>
<%= image_tag("menu-btn.png", class: "menu-btn", id: "menu" ) %>
  <div class="wrapper">

    <div class="main-index">
      <%= render "main_index" %>
    </div>

    <div class="side-bar">
      <%= render "side_bar" %>
    </div>

  </div>

  <%= render "shared/footer" %>

</div>