<%= render "shared/header" %>


<div class="post-show-wrap">

  <%= render "side_bar_hidden" %>
  
  <div class="search-result-text">
  検索結果一覧
  </div>


  <% @posts.each do |post| %>
  
  <div class='post-search-content'>
    <%= link_to post_path(post) do %>
      <%= image_tag post.image, class: "post-show-img" %>
    <% end %>
  
    <div class='post-show-title'>
      <%= post.post_title %>
    </div>

    <div class='post-show-text'>
      <%= post.post_text %>
    </div>


    <div class="post-show-poster-wrap">

        <div class='post-show-poster-image'>
        <%= image_tag post.user.image, class: "post-show-icon-image" %>
        </div>

        <div class="post-show-poster-user">

            <%= post.user.nickname %>
            <span class="post-show-san">さん</span>

            <div class='post-show-date'>
              <%= post.updated_at.strftime("%Y/%m/%d") %>
            </div>

        </div>
 
      

      <div class="show-iine-area">
          <div class="show-iine-icon-image">
            <%= link_to image_tag("iine.png", class:"iine-img"), "/" %>
          </div>
          <div class="show-iine-count">5
          </div>
      </div>
      
    </div>


  </div>
  <% end %>
  

</div>
<%= render "shared/second-footer" %>