<%= render "shared/header" %>


<div class="post-show-wrap">

  <div class="search-result-text">
  検索結果一覧
  </div>

  <% @posts.each do |post| %>
  
  <div class='post-search-content'>
    <%= link_to post_path(post) do %>
      <%= image_tag post.image, class: "post-show-img" %>
    <% end %>
  
    <div class='post-show-title'>
      <%= post.post_title %>
    </div>

    <div class='post-show-text'>
      <%= simple_format(post.post_text) %>
    </div>


    <div class="post-show-poster-wrap">

        <div class='post-show-poster-image'>
          <% if post.user && post.user.image.attached? %>
            <%= image_tag post.user.image, class: "post-show-icon-image" %>
          <% else %>
            <%= image_tag("user-icon.png", class: "post-show-noicon-image") %>
          <% end %>
        </div>

        <div class="post-show-poster-user">

            <%= post.user.nickname %>
            <span class="post-show-san">さん</span>

            <div class='post-show-date'>
              <%= post.updated_at.strftime("%Y/%m/%d") %>
            </div>
        </div>
 
        <div class="show-iine-area">
            <% if user_signed_in? %>
            <div id="like-btn<%= post.id %>">
              <div class="show-iine-icon-image">
                <% if user_signed_in? && post.liked_by?(current_user) %>
                <%= link_to image_tag("iine.png", class:"iine-img"), post_likes_path(post.id), data: { turbo_method: :delete }, class: "post_likes", remote: true %>
                <% else %>
                <%= link_to image_tag("iine.png", class:"iine-img"), post_likes_path(post.id), data: { turbo_method: :post }, class: "post_likes", remote: true %>
                <% end %>
              </div>
            </div>
          
            <div class="like-count">
              <%= post.likes_count.positive? ? post.likes_count : 0 %>
            </div>
            <% else %>
            <div class="show-iine-icon-image">
              <%= image_tag("iine.png", class:"show-iine-img")%>
            </div>
            <div class="like-count">
              <%= post.likes_count.positive? ? post.likes_count : 0 %>
            </div>
            <% end %>
        </div>
      
    </div>

  </div>
  <% end %>
  

</div>
<%= render "shared/second-footer" %>