<%= render "shared/second-header" %>

<div class="show-wrap">
  
    <div class='show-form-header'>
      <h1 class='show-form-header-text'>詳細画面</h1>
    </div>

  <div class='show-content'>
    <%= image_tag @post.image, class: "post-img" %>
   
    <div class='post-title'>
      <%= @post.post_title %>
    </div>

    <div class='post-text'>
      <%= @post.post_text %>
    </div>

    <div class= "post-info">
      <div class='post-poster'>
        <%= image_tag @post.user.image, class: "post-icon-image" %>
        <%= @post.user.nickname %>
        <div class="post-san">
         さん
        </div>
 
        <div class='post-date'>
          <%= @post.created_at.strftime("%Y.%m.%d %H:%M") %>
        </div>

        <div class="iine-area">
          <div class="iine-icon-image">
            <%= link_to image_tag("iine.png", class:"iine-img"), "/" %>
          </div>
          <div class="iine-count">5
          </div>
        </div>
      </div>
    </div>

  </div>

  <%# ログインした投稿者のみ編集ボタンが表示 %>
  <% if user_signed_in? && current_user.id == @post.user_id  %>
  <div class="form-group">
    <h2 class='form-bottom-text'>下のボタンから編集できます</h2>
   
      <%= link_to "編集画面へ", edit_post_path, class: "post-green-btn" %>
    
  </div>
  <% else %>
  <% end%>

</div>

<%= render "shared/second-footer" %>